ion-toolbar{
    --background:white;
    ion-icon{
        font-size: 33px;
        margin-right: 2%;
    }

}
.body-class{
    h1{
        color: white;
    }
    p{
        color: white;
    }
    padding: 15px;
}
.styler{
    height: 25%;
    background: #fff;
    position: absolute;
    width: 100%;
    z-index: -1;
    bottom: 0;
    overflow: hidden;
    border-top-right-radius: 85%;
}
